<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Movies Reviwed</h1>
    <p>Scenester poutine retro, put a bird on it disrupt readymade butcher trust fund PBR&B cliche meggings vice. Farm-to-table fanny pack taxidermy before they sold out. Mixtape lomo jean shorts mumblecore selfies. Thundercats trust fund hoodie fixie single-origin coffee lumbersexual. </p>
    <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie  %>
      </div>
    </div>
  <% end %>
</div>
